# Android Auto USB udev rules for OpenAuto
# Install: sudo cp 51-android-auto.rules /etc/udev/rules.d/ && sudo udevadm control --reload-rules && sudo udevadm trigger
# Then add your user to plugdev and log out/in: sudo usermod -aG plugdev "$USER"

# Google accessory-mode VID plus common phone vendors
SUBSYSTEM=="usb", ATTR{idVendor}=="18d1", MODE="0666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTR{idVendor}=="04e8", MODE="0666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTR{idVendor}=="0bb4", MODE="0666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTR{idVendor}=="12d1", MODE="0666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTR{idVendor}=="22b8", MODE="0666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTR{idVendor}=="2a70", MODE="0666", GROUP="plugdev"
